body {
    font-family: Arial, sans-serif;
    width: 95%;
    margin: auto;
}

section > header {
    height: 200px;
    background-image: url("../Images/header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;


}
section > header h1 {
    color: white;
    font-size: 50px;
    margin: 0;
}
nav {
    background-color: #333;
    padding: 10px 0;
}

nav a {
    color: greenyellow;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
}
article {
    margin: 10px;
    padding: 20px;
    background-color: lightgrey;
    width:97%;


}
article > header h1{
    font-size: 40px;
    text-decoration: underline;
}
footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
}