.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}