.icon-link {
    background-image: url('../Images/cars.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
    background-size: 16px;
    text-decoration: none;
    color: #0066cc;
}

.icon-link:hover {
    text-decoration: underline;
}