/* items */

section div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/* specific item styles */

.item-1 {
    background: #b03532;
    visibility: hidden;
}
.item-2 {
    background: #33a8a5;
    grid-column-start: 2;
    grid-row-start: 1;
}
.item-3 {
    background: #30997a;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-4 {
    background: #6a478f;
    grid-column-start: 1;
    grid-row-start: 2;
}
.item-5 {
    background: #da6f2b;
    grid-column-start: 2;
    grid-row-start: 2;
}
.item-6 {
    background: #3d8bb1;
    visibility: hidden;
}
.item-7 {
    background: #e03f3f;
    grid-column-start: 1;
    grid-row-start: 3;
}
.item-8 {
    background: #59a627;
    grid-column-start: 2;
    grid-row-start: 3;
}
.item-9 {
    background: #4464a1;
    grid-column-start: 1;
    grid-row-start: 1;
}

@media screen and (max-width: 760px)
{
    section{
        grid-template-columns: repeat(3, 1fr);
    }
    .item-1{
        grid-row-start: 1;
        grid-column-start: 1;
        visibility: visible;
    }
    .item-2{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .item-3 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .item-4 {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .item-5 {
        grid-row-start: 1;
        grid-column-start: 3;
    }
    .item-6 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .item-7 {
        grid-row-start: 2;
        grid-column-start: 3;
    }
    .item-8 {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    .item-9 {
        grid-row-start: 3;
        grid-column-start: 3;
    }
}
