body {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    margin: 10px;
}

article {
    margin-bottom: 10px;
    border: 1px solid grey;
    overflow: hidden;
}

article h2 {
    margin-top: 0;
}

article img {
    max-width: 300px;
    height: auto;
    margin: 0 10px;
    padding-bottom: 10px;
}

article:nth-child(odd) img {
    float: left;
}

article:nth-child(even) img {
    float: right;
}

article p {
    margin: 0 10px;
}