body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #083a17;
    color: #e1e1e1;
}

header {
    background-color: #2c6b3b;
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin: 0;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #98c379;
}

footer {
    background-color: #2c6b3b;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #2c6b3b;
    color: white;
}

table td {
    text-align: center;
}

section {
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    max-width: 800px;
    color: black;
}

img {
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    max-width: 100%;
    width: 300px;
}

a {
    color: #3aff77;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hobbies-likes .column {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
}

#hobbies-likes .column:last-child {
    margin-right: 0;
}
